:root {
    --textcolor: gainsboro;
    --textcolor-alt: black;
}


html{
    background-color: rgb(28, 28, 28);
}

.footer{
    background-color: rgb(12, 12, 12);
    color: var(--textcolor);
}

.container2, .container{
    color: var(--textcolor);
}

.openbtn{
    background-color: rgb(28, 28, 28);
    color: var(--textcolor);
    border: none;
}

/* Sidebar links */
.sidebar a {
    color: var(--textcolor);
}

.titlecontainer{
    color: var(--textcolor);
}
  
/* Active/current link */
.sidebar a.active {
    background-color: rgba(193, 231, 110, 1);
    color: var(--textcolor-alt);
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: black;
    color: var(--textcolor);
}

/* The side navigation menu */
.sidebar {
    background-color: rgb(28, 28, 28)
}

.outputcontainer, .saveditem, .ingredient-container, .itemscontainercollections, .ingredients-list{
    color: var(--textcolor-alt);
}